<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Header Section Start -->
    <header id="header-main">
        <div class="container">
            <div class="header-wrapper">
                <div class="topbar logo-main">
                    <div class="logo-border-wrapper">
                        <div class="logo-border">
                           <i class="search-icon fa fa-search"></i>
                        </div>
                   </div>
                    <div class="logo-title-main">
                        <div class="logo-text">Job Board</div>
                        <div class="logo-paragraph">Find your dream job</div>
                    </div>
                </div>
                <div class="topbar menu-main">
                    <div class="navbar-main">
                        
                        <div class="dropdown-wrapper">
                                <a class="items" href="#home page.html">Home</a>
                                <a class="items" href="#home page.html">Browse Job</a>
                            <button class="items dropdown-btn">Pages<i class="fa fa-caret"></i></button>
                            <div class="dropdown-items">
                                <a class="items list" href="#">Link 1</a>
                                <a class="items list" href="#">Link 2</a>
                                <a class="items list" href="#">Link 3</a>
                            </div>
                        </div>
                                <a class="items" href="#home page.html">Blog<i class="fa fa-caret"></i></a>
                                <a class="items" href="#home page.html">Contact</a>
                    </div>
                </div>
                    <div class="user-icon">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <div class="login-text">Log in</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- search section start -->
    <section class="searching">
        <div class="container">
            <div class="search-wrapper">
                <input type="search" placeholder="SEARCH YOUR JOB HERE" class="search-jobs">
                <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="38" height="37" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M35.107 17.791l-8.276-8.276.707-.707 9.13 9.13.354.354-.354.353-9.13 9.13-.707-.707 8.277-8.277H1.038v-1h34.07z" fill="#000"/></svg>
                <!-- <button class="banner-btn find-job">Find Job</button> -->
            </div>
        </div>
    </section>
    <!-- search section end -->
    <!-- Main Section Start -->
    <section id="main-banner">
        <div class="container">
            <div class="banner-wrapper">
                <div class="banner-number">4536 + Jobs listed</div>
                <h4 class="banner-title">Find your Dream Job</h4>
                <p class="banner-description">We provide online instant cash loans with quick approval that suit your term length</p>
                <div class="btns-main">
               <a href="http://localhost:5000/find-job"><button class="banner-btn post-btn">Post A Job</button> </a> 
                <button class="banner-btn upload-resume">Upload Your Resume</button>
               </div>
               <!-- <input type="search" class="search-jobs" placeholder="Search">  -->   
            </div>
        </div>
    </section>
    <!-- Main Section End -->

    <script src="/js/script.js"></script>
</body>
</html>